.title {
    text-align: center;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.center{
    text-align: center;
    font-size:20px;
}

.center1 {
    text-align: center;
    font-size: 15px;
}

ul.layout li{
    margin: 0 10px 10px 0;
    padding: 10px;
    float:left;
    width: 40%;
    height: 4em;
    list-style: none;
    font-size:20px;
}