/*背景色*/
.color {
    background-color: #c0c0c0;
}

/*タイトル*/
.title {
    text-align: center;
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*ダーゲの色*/
.red {
    color: red;
}

/*ユーザトップのボタン*/
.button {
    width: 130px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid #808080;
    color: white;
    background-color: #808080;
}

.button:hover {
    color: white;
    background: #696969;
    border-color: black;
}

/*中央揃え*/
.center {
    text-align: center;
    font-size: 20px;
}

/*中央揃えフォントサイズ違い*/
.center1 {
    text-align: center;
    font-size: 15px;
}

/*enterroomのレイアウト*/
ul.layout {
    text-align: center;
}

ul.layout li {
    margin: 0 10px 10px 0;
    padding: 10px;
    float: left;
    width: 40%;
    height: 4em;
    list-style: none;
    font-size: 20px;
}

/*テキストボックスの丸角*/
.textbox,
#guess {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
}

#submit,
input[type="button"] {
    width: 45px;
    height: 45px;
    border-radius: 10px;
}

/*↓下3つはmemberのレイアウト*/
.member {
    font-size: 20px;
    margin: 0 0 15px 20%;
}

#table1 {
    margin-left: auto;
    margin-right: auto;
}

td {
    background-color: royalblue;
    font-size: 20px;
    padding: 6px 20px 6px 20px;
    color: white;
    border-radius: 2px;
}

#start {
    width: 130px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 20px;
    border: none;
    color: white;
    background-color: goldenrod;
}

#button {
    text-align: center;
}

#start:hover {
    background-color: rgb(159, 116, 7);
}

/*roleのレイアウト*/
.center2 {
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
}

#role {
    color: royalblue;
}

#theme2,
#theme3 {
    color: royalblue;
}

#timer2 {
    text-align: center;
    font-size: 100px;
}